/*
	General
*/
html, body {
	background:none repeat scroll 0 0 #1B1B1B;
	color:#8F8F8F;
	font-family:Tahoma,Verdana,Arial,Sans-Serif;
	font-size:11px;
	height:100%;
	margin:0;
	min-width:956px;
	padding:0;
}

* {
	border:medium none;
	margin:0;
	padding:0;
}


a{
	color:#FFFFFF;
	text-decoration:none;
}

a:hover{
	color:#FFFFFF;
	text-decoration:none;
}

#contenedor{
	background:url("../images/bg2.jpg") repeat-y scroll center top transparent;
	height:auto !important;
	min-height:100%;
	min-width:956px;
	position:relative;
	width:100%;
}

h2{
	color:#FFFFFF;
	padding-top:10px;
	padding-bottom:8px;
}

p{
	text-align:justify;
	margin-bottom:20px;
}

ul{
	/*list-style-image: url('../images/list.png');*/
	list-style:none;
	list-style-position:outside;
	margin-left:30px;
}

li{
	background-image: url('../images/list.png');
	background-repeat:no-repeat;
	padding-left:40px;
	margin-bottom:20px;
	min-height:27px;
	text-align:justify;
}

.imagenDerecha{
	float:right;
	position:relative;
	top:15px;
	left:20px;
	border:1px solid #414141;
}

.registro{
	background:none repeat scroll 0 0 #1E1E1E;
	border:1px solid #272828;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
	height:18px;
	padding:4px 0 0 5px;
	vertical-align:middle;
	width:203px;
}

#registroServidor{
	background:none repeat scroll 0 0 #1E1E1E;
	border:1px solid #272828;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
	height:21px;
	vertical-align:middle;
	width:203px;
}

#registroRaza{
	background:none repeat scroll 0 0 #1E1E1E;
	border:1px solid #272828;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
	height:21px;
	vertical-align:middle;
	width:203px;
	display:block;
}

#visorCaptcha{
	margin-top:5px;
}

#captcha{
	vertical-align:middle;
}

#registroCaptcha{
	width:100px;
}

.boton{
	background:url("../images/submit.jpg") no-repeat scroll left top #272626;
	cursor:pointer;
	font-size:11px;
	font-weight:normal;
	height:21px;
	padding:1px 5px 3px;
	vertical-align:middle;
	color:#FFFFFF;
}

.desactivado{
	background-color:#CCCCCC;
	color:#333333;
}

label{
	display:block;
	color:#FFFFFF;
	padding-top:10px;
	padding-bottom:3px;
	font-size:12px;
	font-weight:bolder;
}

#registroAcepto{
	display:block;
}

#registroAcepto input{
	vertical-align:baseline;
}

#enviarRegistro{
	margin-top:15px;
}

#btnDisponible{

}

#loader{
	vertical-align:middle;
	height:24px;
	width:24px;
	margin-left:5px;
}

#loader2{
	margin-top:15px;
	vertical-align:middle;
	height:24px;
	width:24px;
	margin-left:5px;
}

#acepto{
	margin-top:15px;
}

#visorRaza{
	margin-right:0px;
	margin-top:20px;
	width:400px;
	height:515px;
	float:right;
	background:none repeat scroll 0 0 #1E1E1E;
	border:1px solid #272828;
	color:#AFABAD;
}

#visorRaza h2{
	margin-left:15px;
}

#visorRaza img{
	margin-left:0px;
}

#visorRaza p{
	padding-left:10px;
	padding-right:10px;
	text-align:justify;
	margin-bottom:5px;
}

#visorRaza a{
	font-weight:bolder;
	margin-left:10px;
}

#visorRaza div.titulo{
	margin-top:5px;
	margin-left:15px;
	font-weight:bolder;
	width:200px;
}

#visorRaza div.barra{
	width:200px;
	height:8px;
	border:1px solid #AFABAD;
	padding:1px;
	margin-top:5px;
	margin-left:15px;
}

#visorRaza div.relleno{
	background:url("../images/submit.jpg") no-repeat scroll left top #272626;
	width:0px;
	height:8px;
}

/*
	Cabecera
*/
#cabecera{
	background:url(../images/topbar.jpg) no-repeat scroll center top transparent;
	height:46px;
	width:100%;
}

#cabeceraCentro{
	margin:0 auto;
	padding:20px 20px 0;
	width:916px;
}

#login{
	float:right;
	position:relative;
	top:-2px
}

#login div{
	float:left;
	position:relative;
}

#login form{
	border:0 none;
	margin:0;
	padding:0;
}

#usuario{
	background:url("../images/username.jpg") no-repeat scroll center top transparent;
	border:0 none;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
	height:18px;
	padding:4px 0 0 5px;
	vertical-align:top;
	width:133px;
	margin-right:8px;
}

#pass{
	background:url("../images/password.jpg") no-repeat scroll center top transparent;
	border:0 none;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
	height:18px;
	padding:4px 0 0 5px;
	vertical-align:top;
	width:133px;
	margin-right:8px;
}

#servidor{
	background:none repeat scroll 0 0 #1E1E1E;
	border:1px solid #272828;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
	height:21px;
	vertical-align:middle;
	width:133px;
}

#topsubmit{
	background:url("../images/topsubmit.png") no-repeat scroll center top transparent;
	border:0 none;
	color:#494849;
	font-size:1px;
	font-weight:normal;
	height:32px;
	padding:0;
	text-align:left;
	vertical-align:top;
	width:100px;
	margin-top:-5px;
	cursor:pointer;
}

.overTxtLabel{
	padding: 4px 0px 0px 5px;
	color:#AFABAD;
	font-size:11px;
	font-weight:normal;
}

#olvidaste{
	float:right;
	font-size:10px;
	width:70px;
	margin-top:-2px;
}

#social{
	float:left;
}

#social div{
	float:left;
	margin-right:3px;
}

/*
	Contenido
*/
#centro{
	width:956px;
	height:685px;
	margin:0 auto;
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	border-color:#414141;
	border-style:solid;
	border-width:0 1px;
}

#menu{
	float:right;
	margin-top:20px;
	width:300px;
	height:369px;
	font-size:12px;
}

#menu div{
	color:#FFFFFF;
}

#loaderImagenes{
	display:none;
	visibility:hidden;
}

#boton1{
	background-repeat:no-repeat;
	width:264px;
	height:40px;
	text-transform: uppercase;
	position:relative;
	left:15px;
	top:30px;
	cursor:pointer;
	padding-top:90px;
	text-align:center;
	font-weight:bolder;
	font-size:16px;
	text-shadow: 2px 2px 0 #333333;
}

#boton1:hover{
	background-image:url(../images/boton1_over.jpg);
}

#boton2{
	background-image:url(../images/boton2.jpg);
	background-repeat:no-repeat;
	width:190px;
	height:28px;
	position:relative;
	left:47px;
	top:30px;
	cursor:pointer;
	padding-top:7px;
	text-align:center;
}

#boton2:hover{
	background-image:url(../images/boton2_over.jpg);
}

#boton3{
	background-image:url(../images/boton3.jpg);
	background-repeat:no-repeat;
	width:190px;
	height:29px;
	position:relative;
	left:47px;
	top:30px;
	cursor:pointer;
	padding-top:7px;
	text-align:center;
}

#boton3:hover{
	background-image:url(../images/boton3_over.jpg);
}

#boton4{
	background-image:url(../images/boton4.jpg);
	background-repeat:no-repeat;
	width:190px;
	height:28px;
	position:relative;
	left:47px;
	top:30px;
	cursor:pointer;
	padding-top:7px;
	text-align:center;
}

#boton4:hover{
	background-image:url(../images/boton4_over.jpg);
}

#boton5{
	background-image:url(../images/boton5.jpg);
	background-repeat:no-repeat;
	width:190px;
	height:27px;
	position:relative;
	left:47px;
	top:30px;
	cursor:pointer;
	padding-top:7px;
	text-align:center;
}

#boton5:hover{
	background-image:url(../images/boton5_over.jpg);
}

#boton6{
	background-image:url(../images/boton6.jpg);
	background-repeat:no-repeat;
	width:190px;
	height:28px;
	position:relative;
	left:47px;
	top:30px;
	cursor:pointer;
	padding-top:7px;
	text-align:center;
}

#boton6:hover{
	background-image:url(../images/boton6_over.jpg);
}

#boton7{
	background-image:url(../images/boton7.jpg);
	background-repeat:no-repeat;
	width:190px;
	height:31px;
	position:relative;
	left:47px;
	top:30px;
	cursor:pointer;
	padding-top:7px;
	text-align:center;
}

#boton7:hover{
	background-image:url(../images/boton7_over.jpg);
}

#publicidad{
	float:right;
	clear:both;
	position:relative;
	left:-22px;
	top:40px;
	width:285px;
	height:250px;
	color:#000000;
}

#contenido{
	z-index:3;
	width:916px;
	height:615px;
	position:absolute;
	margin:20px 20px;
	left:auto;
	visibility: hidden; 
	-moz-opacity:.0;	/*Para Firefox, opera y similares*/
	opacity:.0;/*Para IE8*/
	filter:alpha(opacity=0);/*Para el resto de IE*/
}

#contenidoCabecera{
	background:url("../images/cell1.jpg");
	background-repeat:no-repeat;
	height:38px;
	width:916px;
}

#contenidoCabecera img{
	cursor:pointer;
	position:absolute;
	top:6px;
	left:880px;
}

#contenidoCabecera div{
	font-size:11px;
	font-weight:bold;
	line-height:120%;
	padding-top:2px;
	text-decoration:none;
	position:absolute;
	top:12px;
	left:11px;
}

#contenidoContenedor{
	width:891px;
	height:94%;
	background-color:#0b0a0b;
	padding-top:5px;
	padding-left:25px;
}

#interior{
	width:860px;
	height:540px;
	overflow:auto;
	padding-right:20px;
}

#contenidoPie{
	background:url("../images/cell2.jpg");
	background-repeat:no-repeat;
	height:34px;
	width:916px;
}

#preloader{
	background:url("../images/ajax-loader.gif");
	background-repeat:no-repeat;
	width:128px;
	height:15px;
	float:left;
	position:relative;
	left:405px;
	top:-135px;
	display:none;
}
/*
	Pie
*/
#pie{
	clear:both;
	padding:6px 20px;
	border-color:#414141;
	border-style:solid;
	border-width:0 1px;
	width:916px;
	margin:0 auto;
	text-align:center;
}

#pieMenu{
	width:400px;
	height:25px;
	margin:0 auto;
}

#pieMenu div{
	background:url("../images/botonpie.png");
	background-repeat:no-repeat;
	width:97px;
	height:32px;
	padding-top:7px;
	color:#FFFFFF;
	float:left;
	cursor:pointer;
}

#copyright{
	clear:both;
	font-size:10px;
}

/*
	Mensaje
*/
#mensaje{
	position:relative;
	width: 290px;
	height:75px;
	top: 51px;
	left:85px;
	float:left;
	font-size:14px;
	color: white;
	font-weight:bolder;
	text-align:justify;
}

/*
	Screenshots
*/
.screenshot{
	width:130px;
	height:130px;
	float:left;
	margin-right:38px;
	margin-top:20px;
}
